.iconsMenu {
  display: flex;
  gap: 27.4px;
}

.iconLink {
  padding: 0 6.2px;
  position: relative;
}

.iconsMenu svg {
  max-width: 23.2px;
  max-height: 23.2px;
}

.iconBubble {
  background-color: var(--orange);
  border-radius: 50%;
  color: var(--white);
  font-size: 15px;
  width: 17.4px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25%;
  right: -10%;
}
