.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: var(--gray-subtitle);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 30px;
  row-gap: 30.65px;
  align-content: flex-start;
}
