.logo {
  text-decoration: none;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  transition: all 0.3s ease-in;
}

.logo:hover {
  color: var(--orange);
}
