.social {
  display: flex;
  column-gap: 17.9px;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.social__item {
  transition: all 0.2s ease-in;
}

.social__item:hover {
  opacity: 0.8;
}

@media (max-width: 620px) {
  .social {
    column-gap: 20px;
  }

  .social__item {
    width: 28px;
  }
}
